.styled-button{
    background-color: #2a343f;
    border-color: #3d4852;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 0.4em 0.8em;
    color: unset;
}
.styled-button:hover{
    filter:brightness(150%);
    cursor: pointer;
}
.styled-button:active{
    filter:brightness(120%);
}